<footer>
    <div class="container text-center">
        <p>Made by:Me</p>
        <p>Contact Information: <a href="riyaparuthi21@gmail.com">
        riyaparuthi21@gmail.com</a></p>
    </div>
</footer>    

</body>

</html>